

body {
	width: 450px;
}

#section-top {
	color: #fff;
	background-color: #3370E2;
}

#section-top a {
	color: #fff;
	text-decoration: none;
}



/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: #eee; }
